/* ClustrMaps Widget */
#clustrmaps-widget {
  width: 100%; /* Makes the widget take up the full width of the sidebar */
  max-width: 260px; /* Limits the width to 260px */
  margin: 50px auto 0; /* Adds 50px margin-top and centers the widget */
  padding: 10px 0; /* Adds padding around the widget */
  text-align: center; /* Centers the widget's content */
}

/* Fix for mobile views */
@media (max-width: 768px) {
  #clustrmaps-widget {
    max-width: 260px; /* Reduces the width for smaller screens */
  }
}

/* Fix for larger desktop screens */
@media (min-width: 1200px) {
  #clustrmaps-widget {
    max-width: 300px; /* Increase width for large screens */
  }
}

.sidebar.sticky {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 20px; /* Adjust padding for better layout */
}

.sidebar.sticky img {
  max-width: 100%;
  height: auto;
}
